<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="uuGl_e8BnfGz9eJNP-gExWVwpbZTEb8njH0JWD_oyoM" />
    <title>{{site.title}} | {{page.title}}</title>
    {%seo%}
    <script src="{{site.baseurl}}/assets/js/dmode.js"></script>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font-awesome/css/all.min.css" />
  </head>
